<ul class="nav" xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
        <li class="nav-item active"><a th:href="@{/}" th:text="Forum"></a></li>
        <li class="nav-item"><a th:href="@{/post/create}" th:text="'New post'"></a></li>
        <li th:if="${user != null}" class="nav-item"><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.name}" /></li>
        <li th:if="${user != null}" class="nav-item"><a th:href="@{/user/logout}" th:text="Logout" /></li>
        <li th:if="${user == null}" class="nav-item"><a th:href="@{/user/login}" th:text="Login"></a></li>
        <li th:if="${user == null}" class="nav-item"><a th:href="@{/user/register}" th:text="Register"></a></li>
</ul>
