<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

    <title>The job4j forum</title>
</head>
<body>
<div class="container pt-3">
    <div class="row">
        <div class="col col-sm-12">
            <th:block th:insert="~{chunks/menu::menu}"></th:block>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-sm-12">
            <h4>The job4j forum</h4>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-sm-12 post">
            <h4 th:text="${item.name}"></h4>
            <div class="actions">
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col col-sm-12 col-md-6">
            <h5>Latest posts</h5>
            <table th:unless="${#lists.isEmpty(posts)}" class="table">
                <thead>
                    <tr>
                        <th scope="col">Post</th>
                        <th scope="col">Created/Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post: ${posts}">
                        <td><a th:text="${post.title}" th:href="@{/post/{id}(id=${post.id})}"></a></td>
                        <td th:text="${#dates.format(post.changed.time, 'dd.MM.Y HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
            <span th:if="${#lists.isEmpty(posts)}">No posts</span>
        </div>
        <div class="col col-sm-12 col-md-6">
            <h5>Latest comments</h5>
            <table th:unless="${#lists.isEmpty(comments)}" class="table">
                <thead>
                <tr>
                    <th scope="col">Comments</th>
                    <th scope="col">Created/Updated</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="comment : ${comments}">
                        <td><a th:text="${#strings.substring(comment.body, 0, 25)} + '...'" th:href="@{/comment/{id}(id=${comment.id})}"></a></td>
                        <td th:text="${#dates.format(comment.changed.time, 'dd.MM.Y HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
            <span th:if="${#lists.isEmpty(comments)}">No comments</span>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>